@model AulaFramework.Models.ITENS_REQ

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ITENS_REQ</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QTD_PRO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QTD_PRO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRE_UNIT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRE_UNIT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TOTAL_ITEM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TOTAL_ITEM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TOTAL_REAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TOTAL_REAL)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
