@model AulaFramework.Models.MOVIMENTACAO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MOVIMENTACAO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID_PRO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_PRO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_SEC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_SEC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_REQ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_REQ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_NOTA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_NOTA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRE_UNIT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRE_UNIT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QTD_PRO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QTD_PRO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SALDO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SALDO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EST_ANT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EST_ANT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIPO_MOV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIPO_MOV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MES_MOV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MES_MOV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ANO_MOV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ANO_MOV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATA_MOV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATA_MOV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_SET)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_SET)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_MOVI }) |
    @Html.ActionLink("Back to List", "Index")
</p>
